.project
.settings/
debug/
*.sublime-project
salesforce.schema
.idea/
.sfdx/
.sf/
IlluminatedCloud/*
.vscode

# Added by Illuminated Cloud
.localdev/
/out/
target/
node_modules/
/.illuminatedCloud/
**/tsconfig*.json
**/*.tsbuildinfo